{% load static %}
<html>

    <head>
        <title>Convertor</title>

        <link rel="stylesheet" type="text/css" href="static/style.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
        <script src="static/js/numberToWords.js"></script>
        <script src="static/js/script.js"></script>

    </head>
    <body>
        {% block start %}

        {% endblock start %}
    </body>